body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.phone-accessories-page {
    width: 100%; /* Занимает всю доступную ширину */
    max-width: 480px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 20px;
    background-color: #f5f5f5;
}

.accessories-item {
    position: relative;
    width: 240px;
    height: 320px;
    padding: 4px 5px 21px;
    box-sizing: border-box;
    text-align: center;
}

.accessories-item-counter {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.accessories-item-photo img {
    position: relative;
    width: 220px;
    height: 300px;
}

.accessories-item-label {
    display: flex;
    justify-content: center;
}

.accessories-item-title {
    font-weight: 500;
}

.accessories-item-incr-button {
    display: flex;
    width: 80px;
    justify-content: space-between;
    margin: 10px auto 0;
    position: relative;
}

.accessories-item-incr-button:hover {
    background-color: #0056b3;
}

.accessories-item-incr-button::before {
    /* добавьте стили для псевдоэлемента ::before здесь, если необходимо */
}

.button-item-label {
    margin-left: 5px;
}



/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/