body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white;
    background: white;
    min-height: 100vh;
    font-weight: 400px;
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    align-items: flex-start;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    max-width: 370px;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center;
    overflow: hidden;
    position: relative; /* Добавляем это свойство */
}

.inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 20px;
    margin: 20px 0;
    overflow: hidden;
}

.img {
    width: 175px;

}

.item {
    display: block;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 30px;
    padding: 10px 10px;
    margin: 0;
    background-color:black;
    border-radius: 0 0 5px 5px;
    color: white;
}

.price {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 3px; /* Отступ снизу */
    text-align: left;
    text-decoration: line-through;
}

.skidprice {
    color:rgb(255, 54, 54);
    font-size: 14px;
    font-weight: bold;
    margin-top: 9px; /* Отступ сверху */
    margin-bottom: 0; /* Отступ снизу */
    text-align: left;
}

.pricecompl {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 3px; /* Отступ снизу */
    text-align: left;
    text-decoration: line-through;
}

.namecase {
    font-size: 12px;
    color: rgb(110, 110, 110);
    text-align: left;
    word-wrap: break-word; /* Обрыв длинных слов */
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-wrap: break-word;
    font-weight: 400;
    line-height: 140%;
    min-height: 0;
    display: -webkit-box;
    height: auto;
    overflow: hidden; /* Скрытие избыточного текста */
    width: 100%; /* Занимать всю доступную ширину */
}








form {
    display: none;
    text-align: center;
    width: 400px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.img2 {
    width: 400px;
}

.namecase2 {
    color: black;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px; /* Отступ сверху */
}

.price1 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price2 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price3 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price4 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.pricecompl-container {
    display: flex;
}

.price5 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.plus {
    color: rgb(110, 110, 110);
    font-size: 14px;
    margin: 0 10px; /* Добавьте отступы с обеих сторон знака "+" */
}

.price50 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price6 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price7 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price8 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price9 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price10 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price11 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price12 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price13 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price14 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price15 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price16 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price17 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price18 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price19 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price20 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price21 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price22 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price23 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price24 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price25 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.price26 {
    color: rgb(110, 110, 110);
    text-align: left;
    font-size: 14px;

}

.zakaz {
    color: rgb(255, 54, 54);
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.p {
    color: black;
    font-size: 14px;
    text-align: left;
    margin-top: 20px; /* Отступ сверху */
}

.models {
    display: flex;
    gap: 4px;
    padding: 0 15px;
    margin: 10px -15px 0;
    overflow-x: scroll;
    color: white;
}

.model1 {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.model2 {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.model3 {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.model4 {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.modelcompl {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.modelcomplair {
    color: black;
    font-size: 14px;
    background-color:rgb(230, 230, 230);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    min-width: 60px;
    border: 1px solid var(--background-secondary);
    border-radius: 15px;
    flex-shrink: 0;
}

.m {
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pricem {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -.01em;
    color:black;
}

.swiper-container {
    width: 100%;
}

.swiper-scrollbar {
    position: absolute;
    width: 4px; /* Ширина полосы прокрутки */
    height: 100%; /* Высота полосы прокрутки */
    background-color: rgba(0, 0, 0, 0.3); /* Цвет полосы прокрутки */
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0; /* Скрыть полосу прокрутки изначально */
    transition: opacity 0.2s ease-in-out;
}

.y {
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    padding: 0 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    margin-top: 10px;
    background-color:black;
    border-radius: 10px;
    color: white;
}






.information {
    background-color:rgb(230, 230, 230);
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 30px;
}

.card1 {
    border-bottom: 3px solid white;
}

.order-card {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.TPC {
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    align-items: center;
    gap: 5px;
    font-weight:bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -.01em
}

.info {
    font-size: 15px;
    text-align: left; /* Текст начинается слева */
    white-space: normal; /* Перенос слов на следующую строку */
    margin: 5px 10px;
    margin-bottom: 10px;
}






.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    gap: 4px;
    padding: 0 15px;
    overflow-x: scroll;
    color: white;
}

.section {
    cursor: pointer;
    height: 25px;
    padding: 4px 8px;
    color: black;
    font-size: 14px;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    border-radius: 5px;
    flex-shrink: 0;
    text-align: center;
    transition: background-color 0.3s; /* Добавляем анимацию смены цвета фона */
}

.section.active {
    background-color: rgb(204, 204, 204); /* Изменяем цвет фона для активного раздела */
}


/* Стили для оверлея и окна sale */
.overlay {
    position: fixed;
    color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.sale-window {
    background-color: white;
    width: 368px;
    height: 200px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.sale-img {
    width: auto;
    height: 200px;
    margin-right: 14px;
}

.close-button {
    color: rgb(110, 110, 110);
    position: absolute;
    top: 1px;
    right: 8px;
    font-size: 18px;
    cursor: pointer;
}

.j {
    max-width: 225px;
    font-size: 18px;
    white-space: normal; /* Перенос слов на следующую строку */
    font-weight:bold;
    margin-left: 20px;
    margin-top: 45px;
}

.sale-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}

.expiration-date {
    width: 100%;
    font-size: 15px;
    white-space: normal; /* Перенос слов на следующую строку */
    font-weight:bold;
    color: rgb(110, 110, 110);
    margin-left: 20px;
    max-width: 225px;
    margin-top: 45px;
}

.mini-image {
    width: auto; /* Задайте желаемую ширину */
    height: 30px; /* Автоматическая высота для сохранения пропорций */
    vertical-align: middle; /* Выравнивание картинки по центру относительно текста */
}

.navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 4px;
    background-color: white;
    backdrop-filter: blur(5px);
    
}

.tgkanal {
    align-items: center;
    z-index: 1000;
    background-color: rgb(230, 230, 230);

    border-radius: 20px;
    padding: 4px 10px 4px 4px;
    gap: 5px;
    columns: 2;
    display: flex;
    flex-direction: row;
    line-height: 100%;
}

.telegram-logo {
    width: 26px;
    height: 26px;
    margin-right: 1px;
}

.textlogo {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#kanal {
    font-size: 16px;
    color: black;
    display: block;
    width: 100%;
    letter-spacing: 0,5px;
    margin-bottom: 4px;
}

#kanal2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: rgb(110, 110, 110);
}